
.sNav { 
    font-size:1.45rem;
    ul { 
        margin: 5px -15px 0; 
        li { 
            margin-top:13px; 
            padding:12px 0 12px 14%;
           
         }
         :hover { 
            background-color:$sideBar-hover-bg-color; 
            cursor:pointer;
             color:white; 
            }
    }
    i{
        margin-right:10px;
        }
    span{
        margin-right:10px;
    }
 }
