$main-font:'Lato', sans-serif;
$main-font-size:16px;
$main-background-color:#f1f1f1;

$mainHeader-background-color: #ffffff;

$sideBar-background-color: #505050;
$sideBar-header-bg-color:#690800;
$sideBar-hover-bg-color:#333;

$yellowboxNav-bg-color:#f3d83f;

$profPanel-bg-color: #f2f2f2;
